<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    ">

  <!-- this is the order service bean we use in the routes -->
  <bean id="orderService" class="camelinaction.OrderService"/>

  <!-- this is the camel context, where we configure the context scoped error handler to use the dlc error handler -->
  <camelContext id="camel" errorHandlerRef="dlc" xmlns="http://camel.apache.org/schema/spring">

    <!-- this is the dead letter channel error handler we want to use for the routes -->
    <errorHandler id="dlc" type="DeadLetterChannel" deadLetterUri="mock:dead">
      <redeliveryPolicy maximumRedeliveries="5" retryAttemptedLogLevel="INFO" redeliveryDelay="250"
                        backOffMultiplier="2" useExponentialBackOff="true"/>
    </errorHandler>

    <!-- this is the first route which will fallback and use the context scoped error handler -->
    <route>
      <from uri="file://target/orders?delay=10000"/>
      <bean ref="orderService" method="toCsv"/>
      <to uri="mock:file"/>
      <to uri="seda:queue.inbox"/>
    </route>

    <!-- this is the second route which will fallback and use the context scoped error handler -->
    <route>
      <from uri="seda:queue.inbox"/>
      <bean ref="orderService" method="validate"/>
      <bean ref="orderService" method="enrich"/>
      <to uri="mock:queue.order"/>
    </route>

  </camelContext>

</beans>
